
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    height: 100%;
  }
  
  .left {
    flex: 1;
  }
  
  .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    max-height: 80%;
  }
  
  @media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    .left, .right {
      flex: none;
      width: 100%;
    }
  }

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:first-child {
    margin-right: auto;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;x
    gap: 20px;
}

section {
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

@media screen and (min-width: 768px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}
